body {
    background-image: url('../images/umd pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-text {
    text-align: center;
    font-size: 50px;
}

.large-text {
    font-size: 200px;
    text-align: center;
}

.medium-text {
    font-size: 100px;
    text-align: center;
}
